.change-password {
    margin-top: 10vh;
    color: var(--color-grey-dark);
    box-shadow: 0 0 100px #DFF5FC;
    border-radius: 30px;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-blue-lighter);
    padding-bottom: 20px;
}

.change-password__title {
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 20px;
}

.change-password__button {
    padding: 10px 20px;
    background-color: var(--color-blue-dark);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 auto;
    margin-top: 10px;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

    .change-password__button:hover {
        background-color: var(--color-purple-dark);
        transform: scale(1.05);
    }

.change-password__form {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
}

.change-password__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.change-password__label {
    font-size: 2vh;
    margin-bottom: 8px;
    font-weight: bold;
}

.change-password__input {
    all: unset;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    width: 85%;
}

.change-password__error {
    color: red;
    margin-top: 5px;
    font-size: 0.9rem;
}

.change-password__error-message {
    color: red;
    margin-top: 8px;
    font-size: 2.1vh;
}

.change-password__text {
    font-weight: bold;
    color: var(--color-purple-dark);
}

.change-password__link {
    color: var(--color-grey-medium);
    font-weight: bold;
    text-decoration: none;
    transition: color 300ms ease-in-out;
}

    .change-password__link:hover {
        color: var(--color-blue-dark);
        transform: scale(1.1);
    }

.change-password__line {
    border: 1px solid rgba(164, 164, 164, 0.315);
    width: 30vw;
    margin: 2vh 0;
}
