.two-factor {
    margin-top: 10vh;
    color: var(--color-grey-dark);
    box-shadow: 0 0 100px #DFF5FC;
    border-radius: 30px;
    height: 50vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-blue-lighter);
}

.two-factor__inputs {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.two-factor__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
}

.two-factor__field {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.two-factor__label {
    font-size: 2vh;
    margin-bottom: 8px;
    font-weight: bold;
}

.two-factor__input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    width: 85%;
}

.two-factor__error {
    color: red;
    margin-top: 5px;
}

.two-factor__button {
    padding: 10px 20px;
    background-color: var(--color-blue-dark);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 1vh;
    transition: all 200ms ease-in-out;
}

.two-factor__button:hover {
    background-color: var(--color-purple-dark);
}

.two-factor__actions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.two-factor__indications {
    font-size: 1.8vh;
}

.two-factor__line {
    border: 1px solid rgba(164, 164, 164, 0.315);
    width: 30vw;
    margin: 2vh 0;
}

.two-factor__text {
    font-weight: bold;
    color: var(--color-purple-dark);
}

.two-factor__link {
    color: var(--color-grey-medium);
    font-weight: bold;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

.two-factor__link:hover {
    color: var(--color-blue-dark);
    transform: scale(1.1);
}

.two-factor__error-message {
    color: red;
    margin-top: 8px;
    font-size: 2.1vh;
}