.ezy__howitworks6_YFXWIwwx {
    /* Bootstrap variables */
    --bs-body-color: #212529;
    --bs-body-bg: rgb(255, 255, 255);

    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
    --ezy-card-bg: #ffffff;
    --ezy-card-shadow: 0px 6px 44px rgba(173, 174, 197, 0.2);
    --ezy-icon-shadow: 0px 20px 40px 0 rgba(234, 233, 233, 0.92);

    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    overflow: hidden;
    position: relative;
    padding: 60px 0;
}

@media (min-width: 768px) {
    .ezy__howitworks6_YFXWIwwx {
        padding: 100px 0;
    }
}

/* Gray Block Style */
.gray .ezy__howitworks6_YFXWIwwx,
.ezy__howitworks6_YFXWIwwx.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__howitworks6_YFXWIwwx,
.ezy__howitworks6_YFXWIwwx.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(30, 39, 53);

    /* Easy Frontend variables */
    --ezy-card-bg: rgb(30, 39, 53);
    --ezy-card-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
    --ezy-icon-shadow: -8px 25px 40px 0 rgba(0, 0, 0, 0.2);
}

/* Dark Block Style */
.dark .ezy__howitworks6_YFXWIwwx,
.ezy__howitworks6_YFXWIwwx.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);

    /* Easy Frontend variables */
    --ezy-card-bg: rgb(30, 39, 53);
    --ezy-card-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
    --ezy-icon-shadow: -8px 25px 40px 0 rgba(0, 0, 0, 0.2);
}

.ezy__howitworks6_YFXWIwwx-heading {
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
}

@media (min-width: 768px) {
    .ezy__howitworks6_YFXWIwwx-heading {
        font-size: 45px;
        line-height: 45px;
    }
}

.ezy__howitworks6_YFXWIwwx-sub-heading {
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.8;
}

.ezy__howitworks6_YFXWIwwx-card {
    background-color: var(--ezy-card-bg);
    box-shadow: var(--ezy-card-shadow);
    border-radius: 10px;
}

.ezy__howitworks6_YFXWIwwx [class*="col-"]:last-child .ezy__howitworks6_YFXWIwwx-card {
    background-color: rgba(var(--ezy-theme-color-rgb), 0.75);
    color: #fff;
}

.ezy__howitworks6_YFXWIwwx-count {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    background-color: rgba(var(--ezy-theme-color-rgb), 0.75);
    transform: translateY(-40px);
}

.ezy__howitworks6_YFXWIwwx [class*="col-"]:last-child .ezy__howitworks6_YFXWIwwx-card .ezy__howitworks6_YFXWIwwx-count {
    background-color: #fff;
    color: var(--ezy-theme-color);
    box-shadow: var(--ezy-card-shadow);
}

.ezy__howitworks6_YFXWIwwx-title {
    font-size: 24px;
}

.ezy__howitworks6_YFXWIwwx-icon {
    font-size: 95px;
}

.ezy__howitworks6_YFXWIwwx-card .card-text {
    font-size: 16px;
    line-height: 1.7;
}

.ezy__howitworks6_YFXWIwwx-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* Asegura que todas las tarjetas tengan la misma altura */
}

.ezy__howitworks6_YFXWIwwx-card h2,
.ezy__howitworks6_YFXWIwwx-card p {
    margin-bottom: auto;
    /* Mantiene los títulos y textos ajustados dentro de la tarjeta */
}