.container__tickets {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.main__ticket-title {
    font-size: 5.5vh;
    margin-bottom: 10px;
    color: black;
}

/* Subtitle */
.main__ticket-subtitle {
    font-size: 3vh;
    color: var(--color-grey-dark);
    margin-bottom: 10px;
}

.ticket-table {
    width: 80%;
    border-top: 1px solid var(--color-blue-dark);
    padding-top: 3vh;
}


.table__head {
    font-size: 2.5vh;
    font-weight: bold;
    color: var(--color-blue-dark);
}

.table__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.table__buttons button {
    padding: 5px 10px;
    background-color: var(--color-blue-dark);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.table__buttons button:hover {
    background-color: var(--color-purple-dark);
}

td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.search__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--color-blue-lighter);
    border: 2px solid var(--color-blue-dark);
    border-radius: 15px;
    margin-left: 55%;
    color: var(--color-grey-dark);
    /* Adjust space between search bar and table */
}

.search__icon {
    display: block;

    /* Adjust the spacing between the icon and the input */
    font-size: 1.2rem;
    /* Adjust icon size */
    color: var(--color-grey-dark);
    /* Adjust icon color */
}

.search__ticket {
    all: unset;
    padding: 5px 0;
    font-size: 1rem;
    width: 80%;
    max-width: 250px;
    /* Adjust the width of the input field */
    border-radius: 15px;
    border: none;
    background-color: var(--color-blue-lighter);
    color: var(--color-grey-dark);
}

.table__empty {
    margin: 0 auto;
    font-size: 2.5vh;
    color: var(--color-grey-dark);
}