.container__form {
    margin-top: 10vh;
    color: var(--color-grey-dark);
    box-shadow: 0 0 100px #DFF5FC;
    border-radius: 30px;
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-blue-lighter);
    font-size: 2vh;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
}

.form__group {
    flex: 1 1 45%;
    /* 45% width per group to create two columns, and responsive */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label {
    font-size: 2vh;
    margin-bottom: 8px;
    font-weight: bold;
}

.form__input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    width: 85%;
}


.form__error {
    color: red;
    margin-top: 5px;
}

.form__button {
    padding: 10px 20px;
    background-color: var(--color-blue-dark);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2vh;
    margin: 0 auto;
    margin-bottom: 1vh;
    transition: all 200ms ease-in-out;
}

.form__button:hover {
    background-color: var(--color-purple-dark);
}

.form__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form__regist-login {
    margin: 0 auto;
    font-size: 1.8vh;
    font-weight: bold;
}

.form__link-login {
    color: var(--color-blue-dark);
    font-weight: bold;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.form__link-login:hover {
    color: var(--color-purple-dark);
}