.container {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main Title */
.main-title {
    font-size: 6vh;
    margin-bottom: 10px;
    color: black;
}

/* Subtitle */
.subtitle {
    font-size: 4vh;
    color: var(--color-grey-dark);
    margin-bottom: 40px;
}

/* Cards Container */
.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    width: 90vw;
    box-sizing: border-box;
}



/* Individual Card Styles */
.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: white;
    height: 35vh;
    width: 15vw;
}

.card__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-lighter);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.card:hover {
    transform: translateY(-10px);
}

.card__title {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

.card__description {
    font-size: 16px;
    color: #666;
}