:root {
    --color-grey-dark: #384553;
    --color-grey-light: #BCD6DE;
    --color-blue-dark: #2E8EB1;
    --color-blue-light: #72E2FE;
    --color-grey-lighter: #506579;
    --color-blue-lighter: #DFF5FC;
    --color-purple-dark: #333B7B;
    --color-purple-light: #9CA0D3
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}